<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Iexpress.Rider.NoActionbar">
        <activity
            android:name=".view.ui.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.PhoneActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.delivery.ConfirmDeliveryParcelActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.delivery.FeedbackActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.delivery.ParcelListActivity"
            android:exported="true"
            android:label="New request"
            android:theme="@style/Theme.Iexpress.Rider" />
        <activity
            android:name=".view.ui.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.SplashActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_api_key" />
    </application>

</manifest>